body
{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}
@font-face{
    font-family: Etna;
    src:url("etna-free-font.otf");
}
.header
{
    background: #293213 0% 0% no-repeat padding-box;
    opacity: 1;
    background-image: url(../images/TransBg.svg);
    background-size: 40em;
    background-position: center;
    padding: 3.7em;
    margin: 0 auto;

}
.heading h1
{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    z-index: 1;
    font-weight: bolder;
}
.game
{
    text-align: center;
}
.game img
{
    max-width: 85%;
    z-index: -1;
}
.other
{
    margin: 0 auto;
}
.events h1
{
    color: #293213;
    text-align: center;
    font-size: 3.2em;
    padding: 0.5em;
    font-weight: bold;
}
.icon
{
    text-align: center;
    box-sizing: border-box;
    padding: 2em 1em;
    margin: 0 auto;
}
.icon img
{
    width: 25%;
    margin-top: 5em;
}
.name
{
    margin: 1.2em auto;
}
.name h2
{
    color: #293213;
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
    margin: 1.2em auto;
    font-family: Etna;

}
.content p
{
    color: black;
    font-size: 0.9em;
    text-align: justify;
}
.box
{   text-align: center;
    margin: 1em 0em;
}
.box fieldset
{
    box-sizing: border-box;
    border: 2px solid #293213;
    border-radius: 15px;
}
.box fieldset legend
{   text-align: center;
    color: #293213;
    font-size: 1em;  
    padding: 0.6em 1em;
    width: auto;
    font-weight: bold;
}
.box fieldset p
{   
    color: black;
    font-size: 0.9em;
    text-align: justify;
    padding: 0.23em 5.3em;
}
.content h4
{   margin: 0.3em 0;
    text-align: center;
    font-size: 1em;
}
fieldset ul
{
position: relative;
    font-size: 0.9em;
    margin: 0 auto;
    padding: 1.4em 6.7em;
    text-align: left;
}
.content
{
    margin: 0 auto;
}
.plank
{
    width: 50% !important;
}